html,html *{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;outline:none}html ul,html * ul,html li,html * li{list-style:none}html a,html * a{text-decoration:none}html p,html * p{margin:0}#newsletter-rendered{margin-top:40px;background:#e6e6e6;padding:10px}